@model IEnumerable<E_Commerce_App.Models.Category>

@{
    ViewData["Title"] = "Index";
}



<div class="row  my-3">
    <div class="d-flex align-items-center">
        <h1 class="Categoriesh1">Categories</h1>
      @*    <i class="fas fa-tv text-primary mx-2" style="font-size: 24px;"></i>
         <i class="fas fa-keyboard text-success mx-2" style="font-size: 24px;"></i>
         <i class="fas fa-laptop text-danger mx-2" style="font-size: 24px;"></i>
         <i class="fas fa-mobile-screen-button text-info mx-2" style="font-size: 24px;"></i> *@
    </div>



    <hr />
    @foreach (var item in Model)
    {
        <div class="col-lg-4 col-md-6 mb-3 text-black">
            <div class="card">
                <div class="card-body">
                    <img src="@item.imgURL" class="card-img-top img-fluid" style="object-fit: fill; height: 200px;" alt="@item.Name">
                    <h5 class="card-title my-2">@item.Name</h5>
                    @if (User.IsInRole("Editor"))
                    {
                        <a asp-controller="Categories" asp-action="Edit" asp-route-id="@item.CategoryId" class="btn btn-primary">Edit</a>
                    }
                    <a asp-controller="Categories" asp-action="CategoryDetails" asp-route-categoryID="@item.CategoryId" class="btn btn-info">See More...</a>
                    @if (User.IsInRole("Administrator"))
                    {
                        <a asp-controller="Categories" asp-action="Delete" asp-route-id="@item.CategoryId" class="btn btn-danger">Delete</a>
                    }

                </div>
            </div>
        </div>
    }
</div>

