@model IEnumerable<E_Commerce_App.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Products</h1>

<p>
    <a class="btn btn-success" asp-action="Create">Create New</a>
</p>
<div class="row text-dark">
    @foreach (var item in Model)
    {
        <div class="col-lg-4 col-md-6 mb-4 ">
            <div class="card">
                <img src="@item.ProductImage" class="card-img-top img-fluid" style="object-fit: fill; height: 200px;" alt="@item.Name" />
                <div class="card-body">
                    <h5 class="card-title">@item.Name</h5>
                    <p class="card-text">@item.Description</p>
                    <p class="card-text"><strong>Price:</strong> @item.Price.ToString("F2") JD</p>
                    <p class="card-text"><strong>Stock Quantity:</strong> @item.StockQuantity</p>
                    <p class="card-text"><strong>Category:</strong> @item.CategoryId</p>
                    <a href="@Url.Action("Edit", new { id = item.ProductId })" class="btn btn-primary m-2">Edit</a>
                    <a href="@Url.Action("Details", new { id = item.ProductId })" class="btn btn-info m-2">Details</a>
                    <a href="@Url.Action("Delete", new { id = item.ProductId })" class="btn btn-danger m-2">Delete</a>
                </div>
            </div>
        </div>
    }
</div>

