@model IEnumerable<E_Commerce_App.Models.Category>

@{
    ViewData["Title"] = "Index";
}

<h1>Categories</h1>

<p>
    <a class="btn btn-success" asp-action="Create" asp-controller="Categories">Create New</a>
</p>
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 mb-4 text-black">
            <div class="card">

                <div class="card-body">
                <img src="@item.imgURL" class="card-img-top" alt="@item.Name">
                    <h5 class="card-title">@item.Name</h5>
                    <a href="@Url.Action("Edit", new { id = item.CategoryId })" class="btn btn-primary">Edit</a>
                    <a href="@Url.Action("CategoryDetails", new { categoryID = item.CategoryId })" class="btn btn-info">Details</a>
                    <a href="@Url.Action("Delete", new { id = item.CategoryId })" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
    }
</div>

